<script src="assets/js/main.min.js"></script>

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}


<!-- https://qchaha.github.io/2018/09/19/homepageStatistics.html -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WRDS6KHG7Y"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-WRDS6KHG7Y');
</script>
<!-- busuanzi tag (gtag.js) -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!-- <span id="busuanzi_container_site_pv">  | 本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
<span id="busuanzi_container_site_uv"> / <span id="busuanzi_value_site_uv"></span>人</span> -->
