/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 0em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  // border: 1px solid $light-gray;

  & + table {
    margin-top: 0em;
  }
}

thead {
  background-color: $lighter-gray;
  // border-bottom: 1px solid $light-gray;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  // border-right: 1px solid $light-gray;
}
tr {
  padding-bottom: 0em;
  padding-top: 0em;
}
td {
  padding: 0em;
  border-bottom: 0px solid $light-gray;
  // border-right: 1px solid $light-gray;
}

tr, td, th {
  vertical-align: top;
}