---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}

            
            <br /><br />
            



          <!-- 不再使用disqus评论系统 
            <div id="disqus_thread"></div>
            <script>
                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://yvquanli-github-io.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <script id="dsq-count-scr" src="//yvquanli-github-io.disqus.com/count.js" async></script> 
          -->


            <!-- 使用utterances评论系统 -->
            <div>
              <section id="comments" class="comments">
                <style>
                  .utterances{max-width: 100%;}
                </style>
                  <script src="https://utteranc.es/client.js"
                          repo="annkuoQ/blog-utterances"
                          issue-term="title"
                          theme="github-light"
                          crossorigin="anonymous"
                          async>
                  </script>
            </section>
          </div>




          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}







<div class="footer_site">
<hr/>
<div class="footer_copyright">
  © 2024 Yuquan Li | Powered by the&nbsp 
  <a class="page_a"  href="https://github.com/RayeRen/acad-homepage.github.io">
  acad 
  </a>

  
  <!-- https://qchaha.github.io/2018/09/19/homepageStatistics.html -->
  <span id="busuanzi_container_site_pv">  | 本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
  <span id="busuanzi_container_site_uv"> / <span id="busuanzi_value_site_uv"></span>人</span>


  </body>
</html>
